<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.ssm.dao.CUserDao">
    <select id="checkName" resultType="com.xy.ssm.model.CUser">
        select id,user_name as userName,user_phone as userPhone,user_email as userEmail from c_users
        where user_name = #{username}
    </select>

    <select id="checkMail" resultType="com.xy.ssm.model.CUser">
        select id,user_name,user_phone,user_email from c_users
        where user_email = #{email}
    </select>

    <select id="checkPhone" resultType="com.xy.ssm.model.CUser">
        select id,user_name,user_phone,user_email from c_users
        where user_phone = #{phone}
    </select>

    <insert id="regUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.xy.ssm.model.CUser">
        insert into c_users(user_name,user_phone,user_email,user_gender,user_password,user_type,validateCode,create_time)
        values(#{userName},#{userPhone},#{userEmail},#{userGender},#{userPassword},#{userType},#{validateCode},#{createTime})
    </insert>

    <select id="getUserByUsername" resultType="com.xy.ssm.model.CUser">
        select id,user_name as userName,user_phone as userPhone,user_email as userEmail,
        user_icon as userIcon,user_gender as userGender,user_realname as userRealName,user_intention_job as userIntention ,
        user_profile as userProfile,user_type as userType , user_status as userStatus,user_password as userPassword,
        create_time as createTime from c_users where user_name = #{username} and user_type = #{userType} and user_status = 1
    </select>

    <select id="getUserById" resultType="com.xy.ssm.model.CUser">
        select id,user_name as userName,user_phone as userPhone,user_email as userEmail,user_major as userMajor ,user_departments as userDepartments,
        user_icon as userIcon,user_gender as userGender,user_realname as userRealName,user_intention_job as userIntention ,
        user_profile as userProfile,user_type as userType , user_status as userStatus,user_password as userPassword,
        create_time as createTime,validateCode as validateCode from c_users where id = #{id}
    </select>

    <insert id="addJobApplication" parameterType="com.xy.ssm.model.CApplication">
        insert into c_application(appli_user_id,appli_job_id,appli_status,create_time)
        values(#{appliUserId},#{appliJobId},#{appliStatus},#{createTime})
    </insert>

    <select id="getJobList" resultType="com.xy.ssm.model.CJobs">
        select a.id,a.job_company_id as jobCompanyId,a.job_title as jobTitle,a.job_type as jobType,
        a.job_demand_number as jobDemandNumber,a.job_requires_gender as jobRequiresGender,a.job_salary_type as jobSalaryType,a.job_hours as jobHours ,
        a.job_salary as jobSalary,a.job_address as jobAddress , a.job_introduction as jobIntroduction,a.job_contact_phone as jobContactPhone,a.job_status as jobStatus,a.job_remarks as jobRemarks,a.job_deadline as jobDeadline,
        a.create_time as createTime,b.comp_name as jobCompanyName,(SELECT count(*) from c_application where c_application.appli_job_id = a.id and appli_status != 'appli_failed') as appliCount from c_jobs as a
        LEFT JOIN c_company as b on a.job_company_id = b.id
        where job_status = 3
    </select>

    <select id="getJobCount" resultType="int">
        select count(*) from c_jobs where job_status = 3
    </select>
    <update id="updateUser" parameterType="com.xy.ssm.model.CUser">
        update c_users
        SET user_name=#{userName},user_realname=#{userRealName},user_departments=#{userDepartments},user_major=#{userMajor},
        user_gender=#{userGender},user_profile=#{userProfile},user_phone=#{userPhone},user_email=#{userEmail}
        WHERE id=#{id}
    </update>
    <select id="getAppliByTwoId" resultType="com.xy.ssm.model.CApplication">
        SELECT id,appli_user_id as appliUserId,appli_job_id as appliJobId,appli_status as appliStatus,create_time as createTime
        FROM c_application
        WHERE appli_job_id = #{jobId} and appli_user_id = #{userId}
    </select>
</mapper>